body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover:not(.selected){
  background-color: #1b1b1b;
}

.selected{
  background-color: #1a237e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
